:root{
    --black: #000000;
    --Eerie-black: #252525;
    --gray-8: #141414;
    --gray-20: #333333;
    --gary-28: #474747;
    --taupe-gray: #888888;
    --gainsboro: #E1E1E1;
    --white : #fff;
    --light-cyan: #7FCBC9;
    --strong-cyan: #3B908E;
    --light-blue : #0ca9d9;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
}
.block__center{
    width: 100%;
    height: 70Vh;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
}
.block__flex-row{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  
}
.frame__left{
    width: 40%;
    height: auto;
    margin-right: 20px;
}
.frame__left img{
    height: calc(100%/1.5);
    object-fit: fill;
}
.frame__right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frame__right.logo-brand{
    width: 210px;
    height: 40px;
    margin-bottom: 8px;
}
.frame__right.logo-brand img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.frame__right.content{
    width: 80%;
    border: 2px solid var(--gainsboro);
    padding: 20px;
}
.login__title{
    height: 50px;
    padding: 10px;
}
.login__social-network{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.login__social-network span{
    font-size: 12px;
    font-weight: 600;
}
.login__social-network img{
    width: 25px;
    object-fit: fill;
    margin-right: 10px;
}
.btn{
    border: 1px solid var(--gainsboro);
    border-radius: 0%;
    margin-bottom: 5px;
}
.btn.btn__social-network{
    background-color: var(--white);
}
.btn__social-network:hover{
    background-color: wheat;
}
.login__form{
    width: 100%;
}
.login__form input{
    width: 100%;
    border-radius: 0%;
    margin-bottom: 10px;
}
.login__button{
    width: 100%;
}
.login__button button{
    width: 100%;
}
.btn.btn__login{
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--light-cyan);
}
.btn__login:hover{
    background-color: var(--strong-cyan);
}
.btn.btn__reget_password{
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--light-cyan);
}
.btn__reget_password:hover{
    background-color: var(--strong-cyan);
}
.to-Forgot-password{
    width: 100%;
    display: flex;
    justify-content: right;
}
.btn.hover-underline{
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 12px;
    color: var(--light-blue);
    outline: none;
}
.hover-underline:hover{
    text-decoration:underline var(--light-blue) ;
    color: var(--light-blue);
}
.frame__right.to-register{
    width: 100%;
    padding: 5px 90px;
}
.to-register span{
    margin: 5px;
    color: var(--black);
    font-size: 14px;
}
#login{
    display: block;
}
#reget_password{
    display: none;
}
#register{
    display: none;
}