:root{
    --black: #000000;
    --Eerie-black: #252525;
    --gray-8: #141414;
    --gray-20: #333333;
    --gary-28: #474747;
    --taupe-gray: #888888;
    --gainsboro: #E1E1E1;
    --white : #fff;
    --light-cyan: #7FCBC9;
    --strong-cyan: #3B908E;
    --light-blue : #0ca9d9;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100vh;
}
.block__center{
    width: 100%;
    height: 70Vh;
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    margin-left: 30px;
    margin-right: 30px;
}
.block__flex-row{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  
}
.frame__left{
    width: 50%;
    height: 100%;
}
.frame__left img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.frame__right{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.frame__right-nav--home{
    width: 210px;
    height: 40px;
    margin-bottom: 8px;
}
.frame__right-nav--home img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.frame__right.form{
    width: 80%;
    border: 2px solid var(--gainsboro);
    padding: 20px;
}
.form__title{
    height: 50px;
    padding: 10px;
}
.login__form{
    width: 100%;
}
.login__form input{
    width: 100%;
    border-radius: 0%;
    margin-bottom: 10px;
}
.login__button{
    width: 100%;
}
.login__button button{
    width: 100%;
}
.btn.btn__login{
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--light-cyan);
}
.btn__login:hover{
    background-color: var(--strong-cyan);
}
.btn.btn__reget_password{
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--light-cyan);
}
.btn__reget_password:hover{
    background-color: var(--strong-cyan);
}
.to-login{
    font-size: 14px;
    padding: 10px;
}
.to-login span{
    margin-left: 5px;
}
.text-hover--underline{
    text-decoration: none;
    outline: none;
    color: var(--light-blue);
}
.text-hover--underline:hover{
    text-decoration: underline var(--light-blue);
    color: var(--light-blue);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1480px) {
    .frame__left{
        display: none;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 110px) {
    .frame__right{
        width: 50%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .frame__right{
        width: 60%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 555px) {
    .frame__right{
        width: 80%;
    }
}
@media only screen and (max-width: 425px) {
    .frame__right{
        width: 100%;
    }
    .form__title h5{
        font-size: 1rem;
    }
}